.DS_Store\nThumbs.db\n*.swp\n*.swo\n*.swn\n*.bak\n*.tmp\n*.log\nnode_modules/\n.*/*\n.AppleDouble\n.LSOverride
.DS_Store\nThumbs.db\n*.swp\n*.swo\n*.swn\n*.bak\n*.tmp\n*.log\nnode_modules/\n.*/*\n.AppleDouble\n.LSOverride
.DS_Store\nThumbs.db\n*.swp\n*.swo\n*.swn\n*.bak\n*.tmp\n*.log\nnode_modules/\n.*/*\n.AppleDouble\n.LSOverride
.DS_Store\nThumbs.db\n*.swp\n*.swo\n*.swn\n*.bak\n*.tmp\n*.log\nnode_modules/\n.*/*\n.AppleDouble\n.LSOverride
.DS_Store\nThumbs.db\n*.swp\n*.swo\n*.swn\n*.bak\n*.tmp\n*.log\nnode_modules/\n.*/*\n.AppleDouble\n.LSOverride
.DS_Store\nThumbs.db\n*.swp\n*.swo\n*.swn\n*.bak\n*.tmp\n*.log\nnode_modules/\n.*/*\n.AppleDouble\n.LSOverride
.DS_Store\nThumbs.db\n*.swp\n*.swo\n*.swn\n*.bak\n*.tmp\n*.log\nnode_modules/\n.*/*\n.AppleDouble\n.LSOverride
.DS_Store\nThumbs.db\n*.swp\n*.swo\n*.swn\n*.bak\n*.tmp\n*.log\nnode_modules/\n.*/*\n.AppleDouble\n.LSOverride
.DS_Store\nThumbs.db\n*.swp\n*.swo\n*.swn\n*.bak\n*.tmp\n*.log\nnode_modules/\n.*/*\n.AppleDouble\n.LSOverride
